[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = {git = "https://github.com/psf/requests"}
dev-toolbox = ">=0.1.18"
httpx = ">=0.28.1"

[dev-packages]
comma-cli = ">=2.0.6"
ruff = ">=0.11.5"

[requires]
python_version = "3.12"
